.product {
    width: 200px;
    margin: 20px 5px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
}

.product p {
    margin: 20px 0;
}

.add {
    width: 100%;
}