div, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #1079e9;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 50px;
}

button:hover {
  background-color: #4096f2;  
}

.search {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

input {
  height: 44px;
  width: 200px;
  font-size: 20px;
}